.table {
    width: 38.06rem;
    text-align: right;
    border-radius: .75rem;
    overflow: hidden;
    border: 1px solid #313131;
}

.list_header div,
.list_record div {
    display: flex;
    padding: 0.5625rem 0.9375rem;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.list_header div {
    border-left: 1px solid #313131;
}


.list_header {
    font-family: 'Helvetica Now Display', sans-serif;
    font-style: normal;
    background-color: #030303;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    letter-spacing: 0.00875rem;
}

.list_record {
    font-size: 0.875rem;
    font-family: 'Helvetica Now Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.00875rem;
}
.list_record:hover {
    cursor: pointer;
    opacity: .7;
}

.list_body .list_record:nth-child(odd) {
    background-color: #191919;
}

.list_body .list_record:nth-child(even) {
    background-color: #313131;
}

.list_header,
.list_record {
    display: flex;
    width: 38rem;
}

.list_header .content_left,
.list_record .content_left{
    justify-content: flex-start;
    border: none;
}

.view {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.left_block {
    width: 28.3125rem;
}
.right_block {
    padding: 1.56rem 1rem 1.12rem 1rem;
    background-color: #191919;
    border-radius: .75rem;
}
.list_record .nothing_found {
    justify-content: center;
}