.input {
    width: 10rem;
    height: 2.5rem;
    padding: 0.6875rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid #515151;
    background: #313131;
    color: #A4A4A4;
    font-size: 0.875rem;
    font-family: 'Helvetica Now Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: 0.00875rem;
    margin-left: 1rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}