.chart {
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
}

.val_name {
    position: absolute;
    top: .75rem;
    right: 3.75rem;
}
.val_name::before {
    content: '';
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    background-color: #B3FC4F;
    border-radius: 0.125rem;
    margin-right: 0.5rem;
}