@keyframes lds_double_ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes lds_double_ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds_double_ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds_double_ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }

  .lds_css {
    margin: 0 auto;
  }

  .lds_double_ring {
    position: relative;
  }
  .lds_double_ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #3d7ec0 transparent #3d7ec0 transparent;
    -webkit-animation: lds_double_ring 1.5s linear infinite;
    animation: lds_double_ring 1.5s linear infinite;
  }
  .lds_double_ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #cc4545 transparent #cc4545;
    -webkit-animation: lds_double_ring_reverse 1.5s linear infinite;
    animation: lds_double_ring_reverse 1.5s linear infinite;
  }
  .lds_double_ring {
    width: 77px !important;
    height: 77px !important;
    -webkit-transform: translate(-38.5px, -38.5px) scale(0.385) translate(38.5px, 38.5px);
    transform: translate(-38.5px, -38.5px) scale(0.385) translate(38.5px, 38.5px);
  }