* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #434343;
  color: #FDFCFF;
}

a {
  color: inherit;
  text-decoration: none;
}